.contato-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}

.form-box, .info-box {
    background: white;
    padding: 25px;
    border-radius: var(--radius);
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    flex: 1;
    min-width: 300px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: var(--radius);
    outline: none;
}

button {
    width: 100%;
    background-color: var(--secondary);
    color: white;
    padding: 15px;
    border: none;
    border-radius: var(--radius);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #e85aa4;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .contato-container { flex-direction: column; } 
}