.table-container { 
    width: 100%;
    overflow-x: auto;
    border-radius: var(--radius);
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

table {
     width: 100%; 
     min-width: 600px;
     border-collapse: collapse; 
     background: white; 
     font-family: var(--font-family);
    }

table th { 
    background: var(--primary); 
    color: white; 
    padding: 15px; 
    text-align: left;
    font-size: var(--font-size-small);
    text-transform: uppercase;
}

table td { 
    padding: 15px; 
    border-bottom: 1px solid #eee; 
    font-size: var(--font-size-small);
    color: var(--text);
}